In [1]:
print("Hello World")

Hello World

In [2]:
print(2+2)

4

In [3]:
print("2"+"2")

22

In [4]:
a= 10
print(a)

10

In [5]:
type(a)

int

In [6]:
name= "Sandesh"
age=22
roll=28

print(name, age,roll)

Sandesh 22 28

In [10]:
print(name, "\n" ,age ,"\n",roll )

Sandesh
 22
 28

Sandesh {age}

In [15]:
a =10 
print(A)

NameError: name 'A' is not defined

In [16]:
x =2+3j
y= 2+2j
print(x+y)

(4+5j)

In [17]:
print(x.real)

2.0

In [20]:
print(x.conjugate())

(2-3j)

In [36]:
x= input("Please enter your age")
print(x)
type(x)

z=  int(x)

20

In [39]:
if z>18:
    print("Eligable")

Eligable

In [44]:
a= "I am learning Python"
print(a)

I am learning Python

In [46]:
print(a[0:5:2])

Ia

In [47]:
print(a[::-1])

nohtyP gninrael ma I

In [48]:
text = "  Hello Python World  "

print(text.lower()) 
print(text.upper())        
print(text.strip())       
print(text.title())       
print(text.replace("Python", "C++"))  
print(text.split())
print(text.split(" " ,-1 ))

  hello python world
  HELLO PYTHON WORLD
Hello Python World
  Hello Python World
  Hello C++ World
['Hello', 'Python', 'World']
['', '', 'Hello', 'Python', 'World', '', '']